<configuration>
  <components>
    <component  id="INguoiDungService" service="CoreWebTinhTien.IService.INguoiDungService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.NguoiDungService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDichVuService" service="CoreWebTinhTien.IService.IDichVuService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.DichVuService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="INguyenLieuService" service="CoreWebTinhTien.IService.INguyenLieuService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.NguyenLieuService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDonHangService" service="CoreWebTinhTien.IService.IDonHangService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.DonHangService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
    <component  id="IDonHangChiTietService" service="CoreWebTinhTien.IService.IDonHangChiTietService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.DonHangChiTietService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>
