<configuration>
  <components>
    <component  id="INguoiDungService" service="CoreWebTinhTien.IService.INguoiDungService, CoreWebTinhTien"  type="CoreWebTinhTien.Service.NguoiDungService, CoreWebTinhTien">
      <parameters>
        <sessionFactoryConfigPath>Config\NHibernateConfig.xml</sessionFactoryConfigPath>
      </parameters>
    </component>
  </components>
</configuration>
